<!DOCTYPE html>
<html>
<head>
  <title>Anatec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>
  <header>
    <%= render partial: "elements/navbar" %>
  </header>

  <main class="yield">
    <%= bootstrap_flash %>
    <%= yield %>
  </main>
</body>
</html>
